* , html, body{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family:  helvetica;
    scroll-behavior: smooth;
}

body{
    background-color: #90afc5;
}

header{
    background-color: #2a3132;
    color : #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 150px;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.logo {
    margin-right: auto;
    width : 73px;
    height : 85px;
    margin-left: 50px;
    padding : 10px;
}

nav{
    display: flex;
}

nav ul {
    display: flex;
    margin-right: 20px;
}

.btn-cta{
    background-color: #763626;
    margin-right: 20px;
    padding: 6px 12px;
    font-size: medium;
    color: #eaeaea;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

li {
    list-style-type: none;
    padding: 10px;
    font-size: large;
}

li a:hover {
    color : #763626;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    text-align: center;
}

.caption {
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.foto-bareng {
    width: 90%;
    height : auto;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    align-items: center;
    max-width: 500px;
}

.kiss {
    background-image: url('assets/kiss.JPG');
    background-size:cover;
    font-weight:bolder;
    border-radius: 10px;
    width:100%;
    height: 250px;
    position: relative;
    padding-top: 12vh;
}

.kiss:hover{
    opacity: 0.7;
}

.kiss a{
    font-size: 60px;
    color: #fff;
    position: relative;
}

.oasis {
    background-image: url('assets/oasis.JPG');
    background-size:cover;
    font-weight:bolder;
    border-radius: 10px;
    width:100%;
    height: 250px;
    position: relative;
    padding-top: 13vh;
}

.oasis:hover{
    opacity: 0.7;
}

.oasis a{
    font-size: 60px;
    color: #fff;
}

.porseni {
    background-image: url('assets/porseni.JPG');
    background-size:cover;
    font-weight:bolder;
    border-radius: 10px;
    width:100%;
    height: 250px;
    position: relative;
    padding-top: 13vh;
}

.porseni:hover{
    opacity: 0.7;
}

.porseni a{
    font-size: 55px;
    color: #fff ;
}

.ngaji-maghrib{
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.ngaji-maghrib p{
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ngaji-maghrib>a>img{
    width: 100%;
    height: auto;
    align-items: center;
}

.ngaji-maghrib-putra p{
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ngaji-maghrib-putra>a>img{
    width: 100%;
    height: auto;
    align-items: center;
}

.bacaan-putri p{
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bacaan-putri>a>img{
    width: 100%;
    height: auto;
    align-items: center;
}

.bacaan-putra p{
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bacaan-putra>a>img{
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 8px;
}

footer{
    padding-top: 5px;
    text-align: center;
    background-color: #2a3132;
    height: 70px;
    color: #eaeaea;
}

.icon {
    display: flex;
    flex-direction: column;
}

.i-ig {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}

.i-ig p{
    padding-right: 5px;
}

.i-wa {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}

.i-wa p{
    padding-right: 5px;
}

@media screen and (max-width : 500px) {
    
    nav{
        position:fixed;
        bottom: 0;
        width: 100%;
        background: #2a3132;
        z-index: 9;
        justify-content: center;
        padding: 8px;
        height: 50px;
    }

    footer {
        margin-bottom: 50px;
        height: 90px;
    }

    header {
        justify-content: space-between;
    }
}
